@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.toggle__line {
    width: 2.5rem;
    height: 1rem;
    background-color: theme('colors.gray.400');
    border-radius: 9999px;
    position: relative;
    transition: background-color 0.3s;
}

.toggle__dot {
    position: absolute;
    top: 50%;
    left: 2px;
    width: 1.5rem;
    height: 1.5rem;
    background-color: theme('colors.white');
    border-radius: 9999px;
    transform: translateY(-50%);
    transition: left 0.3s;
}

input:checked ~ .toggle__dot {
    left: calc(100% - 2px);
    transform: translateX(-100%) translateY(-50%);
}

input:checked ~ .toggle__line {
    background-color: theme('colors.blue');
}
